/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.heading {
  text-align: center;
  color: white;
  padding-top: 20px;
}
.nav {
  width: 100%;
  height: 100px;
  background-color: green;
}
.input {
  width: 70%;
  height: 20px;
  margin-left: 80px;
}
.form {
  padding-top: 30px;
}
.date,
.description,
.category,
.amount {
  width: 200px;
  height: 30px;
  text-align: center;
  border: 2px green solid;
  border-radius: 5px;
  color: green;
  font-weight: bold;
}

label {
  margin-left: 35px;
  color: green;
  font-weight: bold;
}

.add{
  width: 150px;
  height: 40px;
  display: flex;
  margin-top: 14px;
  margin-left: 40%;
  border-radius: 3px;
  border: none;
  padding: 12px 20px;
  font-weight: bold;
  background: rgb(38, 209, 38);
  color: white;
  
  
  
}